* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: dimgray;
}

#app {
  width: 100%;
  padding: 20px;
}

.questionCard {
}
